.sidebar {
    background-color: white;
    position: fixed;
    left: 0px;
    bottom: 0px;
    top: 56px;
    width: 64px;
    z-index: 200;
    padding-top: 3px;
    padding-left: 5px;
}

.sidebar-link {
    height: 74px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Roboto, Arial;
    font-size: 10px;
    cursor: pointer;
}

.sidebar-link:hover {
    background-color: #0000000D;
    border-radius: 12px;
}

.sidebar-link img {
    width: 24px;
    height: 24px;
    padding-bottom: 8px;
}

.home-icon {
    width: 24px;
    height: 24px;
}

.shorts-icon {
    width: 24px;
    height: 24px;
    padding-left: 10px;
}

.subscriptions-icon {
    width: 24px;
    height: 24px;

}

.you-icon {
    width: 24px;
    height: 24px;
}