.video-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 40px;
    padding-top: 80px;
    padding-left: 80px;
}

.thumbnail-row {
    margin-bottom: 8px;
    position: relative;
}

.thumbnail {
    width: 100%;
    border-radius: 12px;
}

.video-time {
    background-color: #000000CC;
    color: #FFFFFF;
    position: absolute;
    right: 6px;
    bottom: 10px;
    font-family: Roboto, Arial;
    font-size: 12px;
    font-weight: 500px;
    padding-left: 4px;
    padding-right: 3px;
    padding-bottom: 3px;
    padding-top: 4px;
    border-radius: 4px;
}

.video-info-grid {
    display: grid;
    grid-template-columns: 48px 1fr;
}

.channel-picture {
    border-radius: 100%;
    width: 48px;
    display: inline-block;
    vertical-align: top;
}

.profile-picture {
    width: 35px;
    border-radius: 100%;
}

.video-info {
    display: inline-block;
    width: 100%;
}

.video-title {
    margin-top: 0px;
    font-weight: 500;
    line-height: 22px;
}

.video-author {
    color: #606060;
    margin-top: 5px;
    margin-bottom: 2px;
}

.video-stats {
    color: #606060;
    margin-top: 2px;
}

@media (max-width:1420px) {
    .video-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width:1150px) {
    .video-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width:700px) {
    .video-grid {
        grid-template-columns: 1fr;
    }
}